<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body{
            background:yellow;
            color:red;
        }
        span{
            color:green;
        }
    </style>
</head>
<body>
    <h1>Hello Friend, <span>{{wish}}</span></h1>
    <h2>Now the server time is <span>{{time}}</span></h2>
    <h2>Astrology info is:<span>{{msg}}</span></h2>
    <h2>Very Soon you are going to get married with:<span>{{name}}</span></h2>
</body>
</html>